<form id="dang-bai" action="{% url 'timkiem:timkiem_ajax' %}" method="get">
<div class="box">
    <select id="nhamang" name="nhamang">
        <option value="">Nhà mạng</option>
        <option>-----</option>
         {% for item in nm %}
            <option id="{{ item.id }}" {% if request.GET.nhamang == item.title %} selected {% else %} {% endif %}>{{ item.title }}</option>
        {% endfor %}
    </select>

    <select id="loaisim" name="loai">
        <option value="">Loại sim</option>
        <option>-----</option>
        {% for item in stl %}
            <option id="{{ item.id }}" {% if request.GET.loai == item.title %} selected {% else %} {% endif %}>{{ item.title }}</option>
        {% endfor %}
    </select>
    <select id="mucgia" name="mucgia">
        <option value="">Khoảng giá</option>
        {% for item in stg %}
            <option id="{{ item.id }}"{% if request.GET.mucgia == item.title %} selected {% else %} {% endif %}>{{ item.title }}</option>
        {% endfor %}
    </select>
    <button type="submit" id="btn_timkiem">TIM</button>
</div>
</form>
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script>
<link rel="stylesheet" href="../../../../../static/css/ketqua.css">
{#<script type="text/javascript" src="/static/home/timkiem.js"></script>#}
<script>
    $(document).ready(function () {
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

        $(".box").on('click','#btn_timkiem',function() {
            var serializedData = $(".box").serialize();
            $.ajax({
                url : '/tim-kiem/ajax/?so=96',
                data : serializedData,
                type : 'get',
                dataType:'json',
                success : function (data) {
                    $("#table-body").append(data.html)
                },
            })
        })

    })
</script>